[Desktop Entry]
Name=Hibernate
GenericName=Suspend to disk
Exec=/bin/sh -c "gnome-screensaver-command --lock; systemctl hibernate --ignore-inhibitors"
Terminal=false
Type=Application
StartupNotify=false
