[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Generate passphrase (custom wordfile)
Exec=passphrase --interactive --clipboard
Terminal=false
Type=Application
