[Unit]
Description=TiddlyWiki - a non-linear personal web notebook

[Service]
ExecStart=/usr/bin/tiddlywiki %h/.local/share/TiddlyWiki --listen host=127.0.0.1 port=3%G
Restart=on-failure

# Hardening
ProtectSystem=full
PrivateTmp=true
SystemCallArchitectures=native
#MemoryDenyWriteExecute=true
NoNewPrivileges=true

[Install]
WantedBy=default.target
